@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

:root {
    --primary-color: #384D48;
    --secondary-color: #6E7271;
    --tertiary-color: #ACAD94;
    --text-color: #D8D4D5;
    --outline-color: #D8D4D5;
}
* {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    text-align: center;
    font-family: "Poppins";
    background-color: var(--primary-color);
}
.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        text-align: center;
        width: 30%;
        background-color: var(--outline-color);
        border-radius: 10px;
        h1 {
            font-family: 'Dancing Script';
            background-color: var(--tertiary-color);
            border-radius: 10px 10px 0px 0px;
            text-align: center;
            padding: 1vh 0;
            text-decoration: underline;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div {
                margin: 2% 0;
                text-align: center;
                width: 80%;
                background-color: transparent;
                box-shadow: none    ;
                select, input {
                    border: none;
                    width: 90%;
                    padding: 1vh;
                    border-radius: 10px;
                    background-color: white;
                }
            }
            a {
                background-color: var(--primary-color);
                color: var(--outline-color);
                text-decoration: none;
                padding: 0.5vh 2vh;
                border-radius: 10px;
            }
            input[type="submit"] {
                width: 20%;
                cursor: pointer;
                background-color: var(--secondary-color);
                border-radius: 10px;
                padding: 1vh 2vh;
                color: var(--text-color);
                border: none;
                margin-top: 2%;
                transition: 0.2s ease;
                margin-bottom: 5%;
            } input[type="submit"]:hover, a:hover {
                transform: translateY(-5%);
                box-shadow: 2px 2px 5px var(--tertiary-color);
            }
        }
        p:has(a) {
            margin-top: 5%;
            margin-bottom: 5%;
            a {
                text-decoration: none;
                color: var(--primary-color);
                transition: 0.2s ease;
                border-radius: 10px;
            }
            a:hover {
                background-color: var(--primary-color);
                padding: 1vh;
                color: var(--outline-color);
            }
        }
    }
}
.header {
    padding: 1vh 0;
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    .left {
        color: var(--primary-color);
        width: 50%;
        display: flex;
        align-items: center;
        gap: 2%;
        h1 {
            margin-left: 1%;
        }
        a {
            padding: 0.5vh 1vh;
            text-decoration: none;
            color: var(--primary-color);
            border-radius: 10px;
            transition: 0.2s ease;
        } a:hover {
            color: var(--text-color);
            background-color: var(--primary-color);
            transform: translateY(-7%);
        }
        .menu {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 0.5vh 1vh;
            border-radius: 10px;
            transition: 0.2s ease;
            div {
                width: 20vh;
                border-radius: 10px;
                padding: 1vh;
                backdrop-filter: blur(10px);
                background-color: #384d4881;
                top: 100%;
                text-align: center;
                position: absolute;
                display: none;
            }
        } .menu:hover {
            background-color: var(--primary-color);
            color: var(--text-color);
            div {
                display: block;
                a {
                    background-color: transparent;
                    text-decoration: none;
                    animation-duration: 2s;
                    animation-name: menu;
                    animation-fill-mode: forwards;
                } a:hover {
                    text-decoration: 2px underline;
                }
            }
        }
    }
    .right {
        color: var(--primary-color);
        width: 50%;
        display: flex;
        justify-content: end;
        text-align: center;
        .user {
            border-radius: 10px;
            margin-right: 1%;
            padding: 0.5vh 1vh;
            position: relative;
            width: 10%;
            display: flex;
            justify-content: center;
            cursor: pointer;
            div {
                border-radius: 10px;
                padding: 1vh;
                background-color: #384d4881;
                backdrop-filter: blur(10px);
                top: 100%;
                position: absolute;
                display: none;
            }
        } .user:hover {
            color: var(--text-color);
            background-color: var(--primary-color);
            div {
                display: block;
                a {
                    background-color: transparent;
                    text-decoration: none;
                    animation-duration: 2s;
                    animation-name: menu;
                    animation-fill-mode: forwards;
                } a:hover {
                    text-decoration: 2px underline;
                }
            }
        }
    }
}
@keyframes menu {
    0% {
        color: transparent;
    }
    100% {
        color: var(--outline-color);
    }
}
.content {
    text-align: center;
    height: 90vh;
    overflow-y: auto;
    .rangking {
        display: flex;
        justify-content: center;
        align-items: center;
        form {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 30%;
            div {
                background-color: transparent;
            }
            input {
                width: 100%;
                padding: 1vh;
                border-radius: 10px;
                border: none;
                color: var(--primary-color);
            }
            button {
                background-color: var(--secondary-color);
                border: none;
                padding: 1.5vh 2vh;
                border-radius: 10px;
                color: var(--text-color);
                cursor: pointer;
                box-shadow: 2px 2px 5px var(--secondary-color);
            }
            button:hover {
                color: var(--primary-color);
                background-color: var(--tertiary-color);
                box-shadow: 2px 2px 5px var(--tertiary-color);
                transform: translateY(-5%);
            }
        }
    }
    h1 {
        margin: 1% 0;
        text-align: center;
        color: var(--text-color);
        font-family: "Dancing Script";
    }
    a {
        margin: 1%;
        color: var(--primary-color);
        text-decoration: none;
        border-radius: 10px;
        padding: 1vh 2vh;
        display: inline-block;
        background-color: var(--tertiary-color);
        transition: 0.2s ease;
    } a:hover {
        color: var(--primary-color);
        background-color: var(--tertiary-color);
        box-shadow: 2px 2px 5px var(--tertiary-color);
        transform: translateY(-3%);
    }
    table {
        width: 98%;
        margin: auto;
        border-collapse: collapse;
        text-align: center;
        th, td {
            padding: 1vh 0;
        }
        th {
            color: var(--text-color);
            background-color: var(--secondary-color);
        }
        td {
            color: var(--text-color);
            border-bottom: 1px solid var(--outline-color);
        }
    }
    .dash {
        div {
            background-color: transparent;
            box-shadow: 2px 2px 5px var(--secondary-color);
            border: 1px solid var(--text-color);
            h1 {
                color: var(--tertiary-color);
            }
            p {
                color: var(--outline-color);
            }
        }
    }
    div {
        margin: 1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        div {
            width: 20%;
            margin: 1% 0;
            color: var(--primary-color);
            border-radius: 10px;
            text-align: center;
            padding: 1vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: flex;
            background-color: var(--outline-color);
            h1 {
                color: var(--primary-color);
                text-decoration: underline;
            }
            p {
                color: var(--primary-color);
                font-size: large;
            }
            div {
                margin: auto;
                background-color: transparent;
                width: 90%;
                flex-direction: row;
            }
            a {
                background-color: var(--primary-color);
                color: var(--text-color);
            } a:hover {
                color: var(--outline-color);
                background-color: var(--secondary-color);
            }
        }
    }
    form {
        margin: 0 1%;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                color: var(--text-color);
                display: inline-block;
                width: 10%;
                text-align: right;
                margin-right: 0.5%;
            }
            label {
                width: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    width: 20%;
                    margin-left: 2%;
                }
                input {
                    width: 2vh;
                    height: 2vh;
                }
            }
            input, select {
                width: 20%;
                padding: 1vh;
                margin: 0;
                border-radius: 10px;
                border: none;
                background-color: var(--text-color);
                color: var(--primary-color);
            }
            select {
                width: 21%;
            }
        }
        .question {
            margin: auto;
            width: 20%;
            padding: 1% 0;
            background-color: var(--tertiary-color);
            border-radius: 10px;
            box-shadow: 2px 2px 5px var(--tertiary-color);
            span {
                color: var(--primary-color);
                width: 90%;
                text-align: center;
            }
        }
        .option {
            display: flex;
            flex-wrap: wrap;
            gap: 1%;
            label {
                padding: 1% 0;
                border: 2px solid var(--tertiary-color);
                border-radius: 10px;
                box-shadow: 2px 2px 5px var(--secondary-color);
                width: 20%;
                background-color: var(--primary-color);
                transition: 0.2s ease-in;
                cursor: pointer;
                box-shadow: 2px 2px 5px var(--primary-color);
                span {
                    margin: 0;
                    text-align: center;
                    width: 90%;
                    color: var(--text-color);
                    transition: 0.2s ease-in;
                }
            }
            label:hover {
                animation-name: option;
                background-color: var(--text-color);
                animation-duration: 1s;
                animation-fill-mode: forwards;
                span {
                    color: var(--primary-color);
                }
            }
        }
        div:has([type='submit']) {
            button {
                background-color: var(--secondary-color);
                border: none;
                padding: 1.5vh 2vh;
                border-radius: 10px;
                color: var(--text-color);
                cursor: pointer;
                box-shadow: 2px 2px 5px var(--secondary-color);
            }
            button:hover {
                color: var(--primary-color);
                background-color: var(--tertiary-color);
                box-shadow: 2px 2px 5px var(--tertiary-color);
                transform: translateY(-5%);
            }
        }
    }
    .canvas-diagram {
        font-family: "oleo script";
        font-size: larger;
        border-radius: 10px;
        width: 96%;
        margin: 2% auto;
    }
    a {
        div {
            p {
                font-family: "oleo script";
                font-size: larger;
            }
        }
    }
}
@keyframes option {
    0% {
        transform: translateY(1%);
    }
    100% {
        transform: translateY(-10%);
    }
}
.error {
    padding: 1%;
    background-color: var(--text-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    position: absolute;
    right: 50%;
    animation-name: error;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin-top: 0.5%;
    display: none;
}
@keyframes error {
    0% {
        transform: translateY(-110%);
    }
    100% {
        transform: translateX(50%);
    }
}