@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #5A0E24;
    --secondary-color: #76153C;
    --tertiary-color: #BF124D;
    --text-color: #67B2D8;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins";
}
.content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .login {
        width: 30%;
        height: 30%;
        padding: 1vh;
        border-radius: 10px;
        box-shadow: 0px 0px 10px grey;
        text-align: center;
        h1 {
            font-family: "Dancing Script";
            font-optical-sizing: auto;
            font-weight: 200px;
            font-style: normal;
            text-decoration: underline;
        }
        a {
            text-decoration: none;
            transition: 0.2s ease-in;
        } a:hover {
            text-decoration: underline;
            background-color: orangered;
            border-radius: 10px;
            padding: 1vh;
            color: white;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 80%;
            width: 100%;
            div {
                width: 100%;
                input {
                    width: 80%;
                    padding: 1vh;
                    border-radius: 10px;
                    border: 1px solid grey;
                } p {
                    margin: 1vh 0;
                }
            }
            input[type="submit"] {
                background-color: blueviolet;
                border-radius: 10px ;
                padding: 1vh 2vh;
                margin-top: 1vh;
                color: white;
                border: none;
                cursor: pointer;
                transition: 0.3s ease;
            } input[type="submit"]:hover {
                box-shadow: 2px 2px 5px grey;
                transform: translateY(-5%);
            }
        }
    }
}
.manajemen_akun {
    width: 100%;
    height: 100vh;
    h1 {
        text-align: center;
        font-family: "Dancing Script";
        font-optical-sizing: auto;
        font-weight: 200px;
        font-style: normal;
        margin: 1vh;
    }
    a {
        padding: 1vh 2vh;
        border-radius: 10px;
        margin: 1vh;
        text-decoration: none;
        background-color: var(--text-color);
        color: var(--primary-color);
    } a:hover {
        box-shadow: 2px 2px 5px grey;
    }
    div {
        margin: 0 1vh;
        margin-top: 2vh;
        table {
            text-align: center;
            width: 100%;
            border-collapse: collapse;
            th, td {
                padding: 1vh 0;
            }
            th {
                border: 1px solid var(--tertiary-color);
                background-color: var(--tertiary-color);
                color: white;
            }
            td {
                border-bottom: 1px solid grey;
                .edit {
                    background-color: var(--secondary-color);
                    color: white;
                }
                .hapus {
                    background-color: var(--primary-color);
                    color: white;
                }
            }
        }
    }
}